<!DOCTYPE html>
<html lang="{{ .Site.Language }}">
    <link rel="icon" type="image/png" sizes="32x32" href="img/f1.png">
    <link rel="icon" type="image/png" sizes="16x16" href="img/f2.png">
    
    <head>
        {{ partial "head.html" . }}
    </head>

    <body class="{{ if ne $.Site.Params.defaultTheme "light" -}} dark-theme {{- end -}}">
        <div class="container">
            {{ partial "header.html" . }}

            <div class="content">
                {{ block "main" . }}{{ end }}
            </div>

            {{ block "footer" . }}
                {{ partial "footer.html" . }}
            {{ end }}
        </div>

        {{ partial "javascript.html" . }}
    </body>
</html>
